<div class="container" style="text-align:center;">
    <div class="row" style="margin-top:80px;">
        <div class="col m1"></div>

        <div class="col m4 offset-s1" >
                <h1 id="title" style="font-weight:275; margin-bottom:50px">GoodLife</h1>
        </div>
    </div>
    

    <div class="row" >
 
        <div class="col m1"></div>
        <div class="col m4 offset-s1 z-depth-1" id="panell" style=" padding-top:10px; background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7))">
            <form id="login" name="login" ng-submit="form.$valid && loggingin.login" novalidate>
              
                <div class="input-field" name="username" id="username">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="usernameIcon" type="text" class="validate" ng-model="loggingin.username" required>
                    <label for="usernameIcon">Username</label>
                    <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                        <div ng-message="required">Username is required</div>
                    </div>
                </div>
                <div class="input-field" name="password" id="password">
                    <i class="material-icons prefix">lock</i>
                    <input id="passwordIcon" type="password" class="validate" ng-model="loggingin.password" required>
                    <label for="passwordIcon">Password</label>
                    <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                        <div ng-message="required">Password is required</div>
                    </div>
                </div>
                
                <a class="btn waves-effect waves-light" type="submit" id="loginbtn" style="width:80%">Login</a>
                <p></p>
            </form>

        </div>
        <div class="col m4"></div>
    </div>
</div>
