<div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a class="active" href="#alert">Resident Alerts</a></li>
                <li class="tab col s3"><a href="#resident">Resident</a></li>
                <!--<li class="tab col s3"><a href="#center">Centers</a></li>-->
                <li class="tab col s3"><a href="#activity">Center Activities</a></li>
            </ul>
        </div>

        <!-- ALERT -->
        <div id="alert" class="col s12">
            <div class="row" style="margin-bottom:0px">
                <div class="col s12" style="margin-top:25px">
                    <div ng-repeat="person in attendance.display.attendance_alert">
                        <div class="col s6 m3 l2 animated fadeIn">
                            <div class="card card-profile ">
                                <div class="card-profile-avatar pulse">
                                    <img src={{person.image}}>
                                </div>
                                <div class="card-profile-content" style="font-weight: 300">
                                    <h4 class="card-profile-title">{{person.name}}</h4>
                                    <p style="margin:0px">{{person.course}}</p>
                                    <p style="margin:0px">last seen {{person.last_seen}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="attendance.loading" class="col s12" style="text-align: center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END OF ALERTS -->

        <!-- RESIDENT -->
        <div id="resident" class="col s12">
            <table id="resident_table" class="table responsive-table display nowrap" style="width:100%" cellspacing="0"></table>
        </div>
        <!-- END OF RESIDENT -->

        <!-- CENTER
        <div id="center" class="col s12">
            <table id="center_table" class="table responsive-table display nowrap" style="width:100%"cellspacing="0"></table>
        </div>
        <!-- END OF CENTER -->

        <!-- ACTIVITY -->
        <div id="activity" class="col s12">
            <div class="col s12">
                <table id="activity_table" class="table responsive-table display nowrap" style="width:100%" cellspacing="0"></table>
            </div>
        </div>
        <!-- END OF ACTIVITY --> 
        
    </div>

    

    <div class="row">
        <div class="col s12" >
            <!--<table id="attendance_table" class="table responsive-table display responsive nowrap" width:"100%" cellspacing="0"></table> -->
            
            <!-- Update Resident Modal -->
            <div id="updateResidentModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Update Elderly Attendace</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="update_name" ng-model="attendance.update.name" type="text" class="validate">
                        <label for="update_name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.status">
                            <option value = "" disabled selected>Select Status</option>
                            <option value={{status.value}} ng-repeat="status in attendance.display.status">{{status.name}}</option>
                        </select>
                        <label>Status</label>
                    </div>
                   
                     
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.updateAttendance()">Submit</button>
                </div>
            </div>

            <!-- Update Center Activites Modal -->
            <div id="updateCenterModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Update Center</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="update_name" ng-model="attendance.update.name" type="text" class="validate">
                        <label for="update_name">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.status">
                            <option value = "" disabled selected>Select Status</option>
                            <option value={{status.value}} ng-repeat="status in attendance.display.status">{{status.name}}</option>
                        </select>
                        <label>Status</label>
                    </div>
                   
                     
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.updateAttendance()">Submit</button>
                </div>
            </div>
            
            <!-- Delete Modal -->
            <div id="deleteModal" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Delete Elderly Attendance</h4>
                        <p>Are you sure you want to delete this resident?</p>
                    </div>
                    <div class="modal-footer">
                            <a  class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
                        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.deleteAttendance()">Yes</button>
                    </div>
            </div>

        </div>
    </div>
    
  
</div>