<div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a  href="#alert">Resident Alerts</a></li>
                <li class="tab col s3"><a  href="#resident"> Resident</a></li>
                <!--<li class="tab col s3"><a href="#center">Centers</a></li>-->
                <li class="tab col s3"><a class="active" href="#activity">Center Activities</a></li>
            </ul>
        </div>

        <!-- ALERT -->
        <div id="alert" class="col s12">
            <div class="row" style="margin-bottom:0px">
                <div class="col s12" style="margin-top:25px">
                    <div ng-repeat="person in attendance.display.attendance_alert">
                        <div class="col s6 m3 l2 animated fadeIn">
                            <div class="card card-profile card-red">
                                <div class="card-profile-avatar pulse">
                                    <img src={{person.image}}>
                                </div>
                                <div class="card-profile-content" style="font-weight: 300">
                                    <h4 class="card-profile-title">{{person.name}}</h4>
                                    <p style="margin:0px">{{person.course}}</p>
                                    <p style="margin:0px">last seen {{person.last_seen}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="attendance.loading" class="col s12" style="text-align: center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END OF ALERTS -->

        <!-- RESIDENT -->
        <div id="resident" class="col s12">
            <button class="btn-floating btn-small waves-effect waves-light modal-trigger" data-target="addResidentModal" id="add_resident_btn" ng-click="attendance.refresh();"><i class="material-icons">add</i></button>
            <table id="resident_table" class="table responsive-table display nowrap" style="width:100%" cellspacing="0"></table>
        </div>
        <!-- END OF RESIDENT -->

        <!-- CENTER
        <div id="center" class="col s12">
            <table id="center_table" class="table responsive-table display nowrap" style="width:100%"cellspacing="0"></table>
        </div>-->
        <!-- END OF CENTER -->

        <!-- ACTIVITY -->
        <div id="activity" class="col s12">
            <div class="col s12">
                <button class="btn-floating btn-small waves-effect waves-light modal-trigger" data-target="addActivityModal" id="add_activity_btn" ng-click="attendance.refresh();"><i class="material-icons">add</i></button>
                <table id="activity_table" class="table responsive-table display nowrap" style="width:100%" cellspacing="0"></table>
            </div>
        </div>
        <!-- END OF ACTIVITY --> 
        
    </div>

    

    <div class="row">
        <div class="col s12" >
            <!--<table id="attendance_table" class="table responsive-table display responsive nowrap" width:"100%" cellspacing="0"></table> -->
            <!-- Update Resident Modal -->
            <div id="updateResidentModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Update Resident Details</h4>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="First Name" id="update_resident_name_first" ng-model="attendance.update.resident.name_first" type="text" class="validate">
                        <label class="card-filter-label-for-input-field" for="update_resident_name_first">First Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Last Name" id="update_resident_name_last" ng-model="attendance.update.resident.name_last" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_name_last">Last Name</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <i class="material-icons prefix">home</i>
                        <input placeholder="Address Blk" id="update_resident_address_blk" ng-model="attendance.update.resident.address_blk" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_address_blk">Address Blk</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Street" id="update_resident_address_street" ng-model="attendance.update.resident.address_street" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_address_street">Address Street</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Floor" id="update_resident_address_floor" ng-model="attendance.update.resident.address_floor" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_address_floor">Address Floor</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Unit" id="update_resident_address_unit" ng-model="attendance.update.resident.address_unit" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_address_unit">Address Unit</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.resident.gender_desc">
                            <option value = "" disabled selected>Select Gender</option>
                            <option value = "Male" selected>Male</option>
                            <option value = "Female" selected>Female</option>
                        </select>
                        <label class="card-filter-label">Gender</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.resident.ethnicity_desc">
                            <option value = "" disabled selected>Select Ethnicity</option>
                            <option value = "Chinese" selected>Chinese</option>
                            <option value = "Indian" selected>Indian</option>
                            <option value = "Malay" selected>Malay</option>
                            <option value = "Others" selected>Others</option>
                        </select>
                        <label class="card-filter-label">Ethnicity</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">local_phone</i>
                        <input placeholder="Contact No" id="update_resident_contact_mobile" ng-model="attendance.update.resident.contact_mobile" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_contact_mobile">Contact No</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">contact_phone</i>
                        <input placeholder="Contact Others" id="update_resident_contact_other" ng-model="attendance.update.resident.contact_other" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="update_resident_contact_other">Contact Others</label>
                    </div>
                    <!--<div class="input-field col s12">
                        <i class="material-icons prefix">today</i>
                        <input ng-model="attendance.update.resident.join_date" id="update_resident_join_date" type="date" class="datepicker">
                        <label  class="card-filter-label-date active" for="update_resident_join_date">Join Date</label>
                    </div>-->
                   
                     
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.updateResidentDetails($event)">Submit</button>
                </div>
            </div>

            <!-- Add Resident Modal -->
            <div id="addResidentModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Add New Resident Details</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.add.resident.project">
                            <option value = "" disabled selected>Select Project Prefix</option>
                            <option value={{project.id}} ng-repeat="project in attendance.data.all_projects">{{project.prefix}}</option>
                        </select>
                        <label class="card-filter-label">Project Prefix</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="First Name" id="add_resident_name_first" ng-model="attendance.add.resident.name_first" type="text" class="validate">
                        <label class="card-filter-label-for-input-field" for="add_resident_name_first">First Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Last Name" id="add_resident_name_last" ng-model="attendance.add.resident.name_last" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_name_last">Last Name</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <i class="material-icons prefix">home</i>
                        <input placeholder="Address Blk" id="add_resident_address_blk" ng-model="attendance.add.resident.address_blk" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_address_blk">Address Blk</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Street" id="add_resident_address_street" ng-model="attendance.add.resident.address_street" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_address_street">Address Street</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Floor" id="add_resident_address_floor" ng-model="attendance.add.resident.address_floor" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_address_floor">Address Floor</label>
                    </div>
                    <div class="input-field col m3 s12">
                        <!--<i class="material-icons prefix">home</i>-->
                        <input placeholder="Address Unit" id="add_resident_address_unit" ng-model="attendance.add.resident.address_unit" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_address_unit">Address Unit</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.add.resident.gender_desc">
                            <option value = "" disabled selected>Select Gender</option>
                            <option value = "Male" selected>Male</option>
                            <option value = "Female" selected>Female</option>
                        </select>
                        <label class="card-filter-label">Gender</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.add.resident.ethnicity_desc">
                            <option value = "" disabled selected>Select Ethnicity</option>
                            <option value = "Chinese" selected>Chinese</option>
                            <option value = "Indian" selected>Indian</option>
                            <option value = "Malay" selected>Malay</option>
                            <option value = "Others" selected>Others</option>
                        </select>
                        <label class="card-filter-label">Ethnicity</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">local_phone</i>
                        <input placeholder="Contact No" id="add_resident_contact_mobile" ng-model="attendance.add.resident.contact_mobile" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_contact_mobile">Contact No</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">contact_phone</i>
                        <input placeholder="Contact Others" id="add_resident_contact_other" ng-model="attendance.add.resident.contact_other" type="text" class="validate">
                        <label class="card-filter-label-for-input-field"  for="add_resident_contact_other">Contact Others</label>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.addResidentDetails($event)">Submit</button>
                    </div>
            </div>
            

            <!-- Add Activity Modal -->
            <div id="addActivityModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Add New Center Activity </h4>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.add.activity.center">
                            <option value = "" disabled selected>Select Center</option>
                            <option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>
                        </select>
                        <label class="card-filter-label">Center</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select multiple ng-model="attendance.add.activity.repeat_params">
                            <option value = "" disabled selected>Select Day of the Week</option>
                            <option value = "1" selected>Monday</option>
                            <option value = "2" selected>Tuesday</option>
                            <option value = "3" selected>Wednesday</option>
                            <option value = "4" selected>Thursday</option>
                            <option value = "5" selected>Friday</option>
                            <option value = "6" selected>Satarday</option>
                            <option value = "7" selected>Sunday</option>
                            <!--option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>-->
                        </select>
                        <label class="card-filter-label">Day of the Week</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">event</i>
                        <input placeholder="Activity Name" id="add_activity_desc" ng-model="attendance.add.activity.desc" type="text" class="validate">
                        <label class="card-filter-label-for-input-field" for="add_activity_desc">Activity Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select multiple ng-model="attendance.add.activity.activity_type_desc_list">
                            <option value = "" disabled selected>Select Activity Type</option>
                            <option value = "Game" selected>Game</option>
                            <option value = "Sing" selected>Sing</option>
                            <!--option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>-->
                        </select>
                        <label class="card-filter-label">Activity Type</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">today</i>
                        <input ng-model="attendance.add.activity.start_date" id="add_activity_start_date" type="date" class="datepicker">
                        <label  class="card-filter-label-date active" for="add_activity_start_date">Start Date</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">today</i>
                        <input ng-model="attendance.add.activity.end_date" id="add_activity_end_date" type="date" class="datepicker">
                        <label  class="card-filter-label-date active" for="add_activity_end_date">End Date</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">access_time</i>
                        <input ng-model="attendance.add.activity.start_time" id="add_activity_start_time" type="text" class="timepicker">
                        <label  class="card-filter-label-date active" for="add_activity_start_time">Start Time</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">access_time</i>
                        <input ng-model="attendance.add.activity.end_time" id="add_activity_end_time" type="text" class="timepicker">
                        <label  class="card-filter-label-date active" for="add_activity_end_time">End Time</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.addActivityDetails($event)">Submit</button>
                </div>
            </div>
            
            <!-- Update Activity Modal -->
            <div id="updateActivityModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Update Center Activity </h4>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.activity.center">
                            <option value = "" disabled selected>Select Center</option>
                            <option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>
                        </select>
                        <label class="card-filter-label">Center</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select multiple ng-model="attendance.update.activity.repeat_params">
                            <option value = "" disabled selected>Select Day of the Week</option>
                            <option value = "1" selected>Monday</option>
                            <option value = "2" selected>Tuesday</option>
                            <option value = "3" selected>Wednesday</option>
                            <option value = "4" selected>Thursday</option>
                            <option value = "5" selected>Friday</option>
                            <option value = "6" selected>Satarday</option>
                            <option value = "7" selected>Sunday</option>
                            <!--option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>-->
                        </select>
                        <label class="card-filter-label">Day of the Week</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">event</i>
                        <input placeholder="Activity Name" id="update_activity_desc" ng-model="attendance.update.activity.desc" type="text" class="validate">
                        <label class="card-filter-label-for-input-field" for="update_activity_desc">Activity Name</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">info</i>
                        <select multiple ng-model="attendance.update.activity.activity_type_desc_list">
                            <option value = "" disabled selected>Select Activity Type</option>
                            <option value = "Game" >Game</option>
                            <option value = "Sing" >Sing</option>
                            <!--option value={{center.id}} ng-repeat="center in attendance.data.all_centers">{{center.project_prefix}}</option>-->
                        </select>
                        <label class="card-filter-label">Activity Type</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">today</i>
                        <input ng-model="attendance.update.activity.start_date" id="update_activity_start_date" type="date" class="datepicker">
                        <label  class="card-filter-label-date active" for="update_activity_start_date">Start Date</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">today</i>
                        <input ng-model="attendance.update.activity.end_date" id="update_activity_end_date" type="date" class="datepicker">
                        <label  class="card-filter-label-date active" for="update_activity_end_date">End Date</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">access_time</i>
                        <input ng-model="attendance.update.activity.start_time" id="update_activity_start_time" type="text" class="timepicker">
                        <label  class="card-filter-label-date active" for="update_activity_start_time">Start Time</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">access_time</i>
                        <input ng-model="attendance.update.activity.end_time" id="update_activity_end_time" type="text" class="timepicker">
                        <label  class="card-filter-label-date active" for="update_activity_end_time">End Time</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.updateActivityDetails($event)">Update</button>
                </div>
            </div>

            <!-- Update Center Activites Modal 
            <div id="updateCenterActivityModal" class="modal modal-fixed-footer ">
                <div class="modal-content">
                    <h4>Update Center Activity</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="update_activity_address" ng-model="attendance.update.activity.address" type="text" class="validate">
                        <label for="update_activity_address">Address</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <select ng-model="attendance.update.status">
                            <option value = "" disabled selected>Select Status</option>
                            <option value={{status.value}} ng-repeat="status in attendance.display.status">{{status.name}}</option>
                        </select>
                        <label>Status</label>
                    </div>
                   
                     
                </div>
                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.updateAttendance()">Submit</button>
                </div>
            </div>-->
            
            <!-- Delete Modal -->
            <div id="deleteModal" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Delete Elderly Attendance</h4>
                        <p>Are you sure you want to delete this resident?</p>
                    </div>
                    <div class="modal-footer">
                            <a  class="modal-action modal-close waves-effect waves-green btn-flat ">No</a>
                        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="attendance.deleteAttendance()">Yes</button>
                    </div>
            </div>

        </div>
    </div>
    
  
</div>