
<!-- Alert Container-->
<div class="row">
  <div class="row" style="margin-top:10px !important">
    <div class="col s10">
      <h5>Battery Replacement Needed For:</h5>
    </div>
    <div  class="col s2">
      <a class="btn-floating btn-large waves-effect waves-light red darken-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add/Pair a new device"   data-target="addModal" >
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
    
    
  

  <div class="row" style="margin-top:50px !important">
    <div ng-repeat="person in sm.display.system_monitoring_device">
      <div class="col s6 m3 l2 animated fadeIn">
        <div class="card card-profile ">
          <div class="card-profile-avatar pulse">
            <a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Update device"  data-target="updateModal" style="margin-right  :10px !important">
              <img src={{person.image}} style="cursor: pointer">
            </a>
            
          </div>
          <div class="card-profile-content" style="font-weight: 300">
            <h4 class="card-profile-title">{{person.name}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="sm.loading" class="col s12">
      <div class="col s6"></div>
        <div class="preloader-wrapper big active" style="text-align: center">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

      <!-- Modal Structure -->
      <div id="addModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Add/Pair a New Device</h4>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="new_name" type="text" class="validate">
            <label for="new_name" data-error="Kindly enter a name" data-success="">Name</label>
          </div>
          <div class="input-field col s12">
              <i class="material-icons prefix">devices_other</i>
              <input id="new_device_id" type="text" class="validate">
              <label for="new_device_id" data-error="Kindly enter a beacon ID" data-success="">Beacon Device Id</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="sm.addNewDevice()">Submit</button>
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="updateModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Update Device</h4>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="update_name" type="text" class="validate" ng-model="sm.update_selectedPerson">
            <label for="update_name" data-error="Kindly enter a name" data-success="">Name</label>
          </div>
          <div class="input-field col s12">
              <i class="material-icons prefix">devices_other</i>
              <input id="update_device_id" type="text" class="validate" ng-model="sm.update_selectedPerson">
              <label for="update_device_id" data-error="Kindly enter a beacon ID" data-success="">Beacon Device Id</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="sm.updateNewDevice()">Submit</button>
        </div>
      </div>
    </div>


</div>
