body{
    font-family: Roboto !important;
}

.login{
    background: url('../img/bg_3.png') no-repeat;
    background-position: center center;
    background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size: cover;
    
}

.select-wrapper input.select-dropdown {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.side-nav li>a {
    padding: 0 16px;
}
.sidenav-header {
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
    
}
.sidenav-header > .row {
    margin-bottom: 0 !important;
}
