<!-- FILTER BAR -->
<div class="row">
      <div class ="card">
          <div class="input-field col s12 m2" ng-model="historical.selectedCenter">
              <select>
                  <option value = "" disabled selected>Select Center</option>
                  <option value={{center.value}} ng-repeat="center in historical.display.centers" id="center_courses">{{center.name}}</option>
              </select>
              <label class="card-filter-label{" >Center</label>
          </div>
          <div class="input-field col s12 m2">
            <select>
                <option value = "" disabled selected>Select Course</option>
                <option value ={{activity.value}} ng-repeat="activity in historical.display.activity">{{activity.name}}</option>
            </select>
            <label class="card-filter-label" >Course</label>
          </div>
          <div class="input-field col s12 m2">
            <i class="material-icons prefix">today</i>
            <input ng-model="historical.selectedStartDate_courses" id="start_date_courses" type="date" class="datepicker">
            <label  class="card-filter-label-date active" for="start_date_courses">Start Date</label>
          </div>
          <div class="input-field col s12 m2">
            <i class="material-icons prefix">today</i>
            <input ng-model="historical.selectedEndDate_courses" id="end_date_courses" type="date" class="datepicker">
            <label  class="card-filter-label-date  active" for="end_date_courses">End Date</label>
          </div>
        <div class="col s12 m2">
          <button ng-click="historical.generateDataCourses()" class="waves-effect waves-light btn">Generate</button>
        </div>
      </div>

</div>


<div class="row" style="margin-top: -20px">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a class="active" href="#overview">Overview</a></li>
        <li class="tab col s3"><a href="#activity" ng-click="historical.tab2()">Activity</a></li>
        <li class="tab col s3"><a href="#person">Person</a></li>
      </ul>
    </div>

    <!-- OVERVIEW TAB -->
    <div id="overview" class="col s12">
      <!-- CONTENT -->
      <div class="row">

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Top 5 Residents by Hours</span>
            <div class="card-content">

              <horizontal-Bar-Chart id="top_resident" data="historical.data.top_active_resident" ></horizontal-Bar-Chart>
              <!--<bar-Horizontal-Chart id="top_resident" data="historical.data.top_active_resident" axis="historical.data.top_active_resident_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Bottom 5 Residents by Hours</span>
            <div class="card-content">

              <horizontal-Bar-Chart id="top_resident" data="historical.data.bottom_active_resident" ></horizontal-Bar-Chart>
              <!--<bar-Horizontal-Chart id="bottom_resident" data="historical.data.bottom_active_resident" axis="historical.data.bottom_active_resident_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Top 5 Activities by Average Time Spent</span>
            <div class="card-content">

              <horizontal-Bar-Chart id="top_activites" data="historical.data.top_popular_activities" ></horizontal-Bar-Chart>
              <!--<bar-Horizontal-Chart id="top_activities" data="historical.data.top_popular_activities" axis="historical.data.top_popular_activities_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Bottom 5 Activities by Average Time Spent</span>
            <div class="card-content">

              <horizontal-Bar-Chart id="bottom_activites" data="historical.data.bottom_popular_activities" ></horizontal-Bar-Chart>
              <!--<bar-Horizontal-Chart id="bottom_activities" data="historical.data.bottom_popular_activities" axis="historical.data.bottom_popular_activities_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Top 5 Residents by Unique Visit Count</span>
            <div class="card-content">

              <horizontal-Bar-Chart-Count id="top_resident_by_count" data="historical.data.top_active_resident_count" ></horizontal-Bar-Chart-Count>
              <!--<bar-Horizontal-Chart id="top_resident_count" data="historical.data.top_active_resident_count" axis="historical.data.top_active_resident_count_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Bottom 5 Residents by Unique Visit Count</span>
            <div class="card-content">

              <horizontal-Bar-Chart-Count id="top_resident_by_count" data="historical.data.bottom_active_resident_count" ></horizontal-Bar-Chart-Count>
              <!--<bar-Horizontal-Chart id="bottom_resident_count" data="historical.data.bottom_active_resident_count" axis="historical.data.bottom_active_resident_count_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>

        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Top 5 Activities by Attendance </span>
            <div class="card-content">

               <horizontal-Bar-Chart-Count id="top_activites_by_count" data="historical.data.top_popular_activities_count" ></horizontal-Bar-Chart-Count>
              <!--<bar-Horizontal-Chart id="top_activities_count" data="historical.data.top_popular_activities_count" axis="historical.data.top_popular_activities_count_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Bottom 5 Activities by Attendance</span>
            <div class="card-content">

              <horizontal-Bar-Chart-Count id="bottom_activities_by_count" data="historical.data.bottom_popular_activities_count"></horizontal-Bar-Chart-Count>
              <!--<bar-Horizontal-Chart id="bottom_activities_count" data="historical.data.bottom_popular_activities_count" axis="historical.data.bottom_popular_activities_count_xaxis" ></bar-Horizontal-Chart>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Activity Heat Map</span>
            <div class="card-content">
              <label id="calendar_error">No Data Available </label>
              <calendar-heatmap data="historical.data.calendarheatmap"  color="'#ff0000'" overview="'year'" handler="print"></calendar-heatmap>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- END OF OVERVIEW TAB -->

    <!-- Activity TAB -->
    <div id="activity" class="col s12">

      <!-- CONTENT -->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Monthly Attendance</span>
            <div class="card-content" id="monthly_content">
              <div class="g-chart">
                <monthly-Line-Chart data="historical.data.activityMonthData" id="rlinecharts" axis="historical.data.activityMonthDatalabel"></monthly-Line-Chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Best Day of the Week</span>
            <div class="card-content" id="activity_content">
              <weekly-Line-Chart  data="historical.data.popular_days" color="" id="activities_line_chart"></weekly-Line-Chart>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Unique Visitors Heatmap</span>
            <div class="card-content hide-on-small-only">
              <box-Heatmap-Chart data="historical.dayHourBoxHeatmapData" style="text-align: center"></box-Heatmap-Chart>
            </div>
            <div class="card-content hide-on-med-and-up">
              <flip-day-Hour-Heatmap-Chart data="historical.dayHourBoxHeatmapData"></flip-day-Hour-Heatmap-Chart>
            </div>
          </div>
        </div>
        <!--
        <div class="col s12 m6 l4">
          <div class="card">

            <span class="card-title">Attendance per Time Slot</span>
            <div class="card-content">
                <bar-Chart data="historical.barData" color=""></bar-Chart>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Unique Visitors Heatmap</span>
            <div class="card-content hide-on-small-only">
              <day-Hour-Heatmap-Chart data="historical.dayHourBoxHeatmapData" style="text-align: center"></day-Hour-Heatmap-Chart>
            </div>
            <div class="card-content hide-on-med-and-up">
              <flip-day-Hour-Heatmap-Chart data="historical.dayHourBoxHeatmapData"></flip-day-Hour-Heatmap-Chart>
            </div>
          </div>
        </div>-->


      </div> <!--end content container -->
    </div>

    <!-- PERSON TAB -->
    <div id="person" class="col s12">

      <div class="row">
        <div class="col s11" ng-model="historical.SOMETHING">
            <div class="input-field col s12 m2">
              <i class="material-icons prefix">search</i>
              <input value="Rajesh Akib" id="resident_search" type="search" required>
              <label for="search">Input Name</label>
              <i class="material-icons">close</i>
            </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <span class="card-title col s12 teal darken-1 white-text">Resident Heatmap</span>
            <div class="card-content hide-on-small-only">
              <resident-Box-Heatmap-Chart data="historical.data.residentBoxHeatmapData" datelist="historical.data.residentBoxHeatmapData_date" style="text-align: center"></resident-Box-Heatmap-Chart>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
