<div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a class="active" href="#overview">Overview</a></li>
        <li class="tab col s3"><a class="active" href="#course">Courses</a></li>
        <li class="tab col s3"><a href="#person">Person</a></li>
      </ul>
    </div>

    <!-- OVERVIEW TAB -->
    <div id="overview" class="col s12">
      <!-- FILTER BAR -->
      <div class="row">
          <div class ="card">
              <div class="input-field col s2 m2" ng-model="historical.selectedCenter">
                  <select>
                      <option value = "" disabled selected>Select Center</option>
                      <option value={{center.value}} ng-repeat="center in historical.centers" id="center_courses">{{center.name}}</option>
                  </select>
                  <label>Center</label>
              </div>
              <div class="input-field col s2 m2">
                <select>
                    <option value = "" disabled selected>Select Course</option>
                    <option value = "1">C1</option>
                    <option value = "2">C2</option>
                    <option value = "3">C3</option>
                </select>
                <label>Course</label>
              </div>
              <div class="input-field col s2 m2">
                <i class="material-icons prefix">today</i>
                <input ng-model="historical.selectedStartDate_courses" id="start_date_courses" type="date" class="datepicker">
                <label>Start Date</label>
              </div>
              <div class="input-field col s2 m2">
                <i class="material-icons prefix">today</i>
                <input ng-model="historical.selectedEndDate_courses" id="end_date_courses" type="date" class="datepicker">
                <label>End Date</label>
              </div>
            <div class="col s2 m2">
              <button ng-click="historical.generateDataCourses()" class="waves-effect waves-light btn">Generate</button>
            </div>
          </div>
  
      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <span class="card-title">Total Visits</span>
            <div class="card-content">
              <number-Display id="current_visit" data=""></number-Display>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- COURSE TAB -->
    <div id="course" class="col s12">
      <!-- FILTER BAR -->
      <div class="row">
        <div class ="card">
            <div class="input-field col s2 m2" ng-model="historical.selectedCenter">
                <select>
                    <option value = "" disabled selected>Select Center</option>
                    <option value={{center.value}} ng-repeat="center in historical.centers" id="center_courses">{{center.name}}</option>
                </select>
                <label>Center</label>
            </div>
            <div class="input-field col s2 m2">
              <select>
                  <option value = "" disabled selected>Select Course</option>
                  <option value = "1">C1</option>
                  <option value = "2">C2</option>
                  <option value = "3">C3</option>
              </select>
              <label>Course</label>
            </div>
            <div class="input-field col s2 m2">
              <i class="material-icons prefix">today</i>
              <input ng-model="historical.selectedStartDate_courses" id="start_date_courses" type="date" class="datepicker">
              <label>Start Date</label>
            </div>
            <div class="input-field col s2 m2">
              <i class="material-icons prefix">today</i>
              <input ng-model="historical.selectedEndDate_courses" id="end_date_courses" type="date" class="datepicker">
              <label>End Date</label>
            </div>
          <div class="col s2 m2">
            <button ng-click="historical.generateDataCourses()" class="waves-effect waves-light btn">Generate</button>
          </div>
        </div>

      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title">Visitors</span>
            <div class="card-content">
              <cumulative-Line-Chart data="historical.unique_visitors_data" color=""></cumulative-Line-Chart>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card" >
            <span class="card-title">Top active(TODO)</span>
            <div class="card-content" id="top_active_content" >
              <div class="g-chart">
                <responsive-Horizontal-Bar-Chart id="top_active"  data="historical.responsiveHorizontalBarData" color=""></responsive-Horizontal-Bar-Chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title">Total Signups per Time Slot</span>
            <div class="card-content">
                <bar-Chart data="historical.data" color=""></bar-Chart>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="card">
            <span class="card-title">Most Active</span>
            <div class="card-content" style="height: 400px !important;">
              <label id="active_error">No Data Available </label>
              <horizontal-bar-chart  data="historical.active_time_Data"></horizontal-bar-chart>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title">Activity Comparison(TODO)</span>
            <div class="card-content">
              <p>Number of unique attendance</p>
              <line-chart height="250px" data="historical.activity_comparison_data"></line-chart>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title">Percentage Attendance</span>
            <div class="card-content">
              <p>(signup vs acutal attendance)</p>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="card">
            <span class="card-title">Unique Visitors Heatmap</span>
            <div class="card-content hide-on-small-only">
              <day-Hour-Heatmap-Chart data="historical.dayHourHeatmapData"></day-Hour-Heatmap-Chart>
            </div>
            <div class="card-content hide-on-med-and-up">
              <flip-day-Hour-Heatmap-Chart data="historical.dayHourHeatmapData"></flip-day-Hour-Heatmap-Chart>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <span class="card-title">Best Performing Course Time (TODO)</span>
            <div class="card-content">
              <cr-d3-bars data="historical.myData"></cr-d3-bars>
            </div>
          </div>
        </div>
      </div> <!--end content container -->
    </div>

    <!-- PERSON TAB -->
    <div id="person" class="col s12">
      <!-- FILTER BAR -->
      <div class="row">
        <div class ="card">
          <div class="input-field col s2 m2">
            <select ng-model="historical.selectedCenter">
                <option value = "" disabled selected>Select Center</option>
                <option value={{center.value}} ng-repeat="center in historical.centers">{{center.name}}</option>
            </select>
            <label>Course</label>
          </div>
          <div class="input-field col s2 m2">
            <select>
                <option value = "" disabled selected>Select Course</option>
                <option value = "1">C1</option>
                <option value = "2">C2</option>
                <option value = "3">C3</option>
            </select>
            <label>Course</label>
          </div>
          <div class="input-field col s2 m2">
            <i class="material-icons prefix">today</i>
            <input ng-model="historical.selectedStartDate_person" type="date" class="datepicker">
            <label>Start Date</label>
          </div>
          <div class="input-field col s2 m2">
            <i class="material-icons prefix">today</i>
            <input ng-model="historical.selectedEndDate_person" id="end_date_person" type="date" class="datepicker">
            <label>End Date</label>
          </div>
          <div class="col s2 m2">
            <button ng-click="historical.generateDataPerson()" class="waves-effect waves-light btn">Generate</button>
          </div>
        </div>
     </div>

     <!-- CONTENT -->
     <div class="row">
        <div class="col s12">
          <div class="card">
            <span class="card-title">Activity Heat Map</span>
            <div class="card-content">
              <label id="calendar_error">No Data Available </label>
              <calendar-heatmap data="historical.calendarheatmapdata" color="'#ff0000'" overview="'year'" handler="print"></calendar-heatmap>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
