<div class="row"> 
    <div class ="card"> 
        <div class="input-field col s2">
            <select>
                <option value = "" disabled selected>Select Center</option>
                <option value = "1">C1</option>
                <option value = "2">C2</option>
                <option value = "3">C3</option>
            </select>  
            <label>Course</label>
        </div>
        <div class="input-field col s2">
            <select>
                <option value = "" disabled selected>Select Course</option>
                <option value = "1">C1</option>
                <option value = "2">C2</option>
                <option value = "3">C3</option>
            </select>  
            <label>Course</label>
        </div>
        <div class="input-field col s2">
            <input type="date" class="datepicker">
            <label>Start Date</label>
        </div>
        <div class="input-field col s2">
            <input type="date" class="datepicker">
            <label>End Date</label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col s12 m2">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Person 1</span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Person 2</span>
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card teal lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Person 3</span>
        </div>
      </div>
    </div>  
    <div class="col s12 m2">
      <div class="card teal lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Person 4</span>
        </div>
      </div>
    </div> 
  </div>