<div class="row">
  <div class="col s12">
    <!-- FILTER -->
    <div class="row">
      <div class="card">
        <div class="input-field col s12 m2">
          <i class="material-icons prefix">store</i>
          <select ng-model="rt.selectedCenter">
            <option value= "" disabled selected>Select Center</option>
            <option value={{center.value}} ng-repeat="center in rt.display.centers">{{center.name}}</option>
          </select>
          <label>Center</label>
        </div>
        <div class="input-field col s12 m3">
          <i class="material-icons prefix">description</i>
          <select multiple ng-model="rt.selectedCourse">
            <option value = "" disabled selected>Select Course</option>
            <option value={{course.value}} ng-repeat="course in rt.display.activity">{{course.name}}</option>
          </select>
          <label>Activity</label>
        </div>
        <div class="input-field col s12 m2">
          <i class="material-icons prefix">person</i>
          <select multiple ng-model="rt.selectedStatus">
            <option value = "" disabled selected>Select Elderly Status</option>
            <option value={{status.value}} ng-repeat="status in rt.display.status">{{status.name}}</option>
          </select>
          <label>Status </label>
        </div>
        <div class="input-field col s12 m2">
          <i class="material-icons prefix">search</i>
          <input id="search" type="search" ng-model="rt.searchname" ng-keyup="getkeys($event)" required>
          <label for="search">Search Name</label>
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
    <!-- END OF FILTER -->

    <!-- CONTENT -->
    <div ng-if="rt.status.no_data" class="row">
      <div class="col s12" style="color:#b71c1c; font-size:20px; text-align:center">
        No Data Avaliable in the last 10 minutes</div>
      </div>
    </div>
    
    <div class="row">
      <div ng-repeat="person in rt.display.elderly_attendance">
        <div class="col s6 m3 l2 animated fadeIn">
          <div ng-class="{'card card-profile card-red': person.recent_status == '2', 'card card-profile card-green': person.recent_status == '1', 'card card-profile card-orange': person.recent_status == '0'}">
            <div class="card-profile-avatar-edit">
              <a class="modal-trigger" data-target="updateModal" style="margin-right  :10px !important" ng-click="rt.refresh(person.resident_index)">
                <img src={{person.image}} style="cursor: pointer">
                <i class="material-icons">edit</i>
              </a>
            </div>
            <div class="card-profile-content" style="font-weight: 300;">
              <h4 class="card-profile-title">{{person.display_name}}</h4>
              <p style="margin:0px !important"><b>{{person.status}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF CONTENT -->

    <!-- Update Modal -->
    <div id="updateModal" class="modal modal-fixed-footer ">
      <div class="modal-content">
        <h4>Update Elderly Attendace - {{rt.display.update_modal.resident_name}}</h4>
        <!--<div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="update_name" ng-model="rt.update.name" type="text" class="validate">
          <label for="update_name">Name</label>
        </div>-->
        
        <div class="input-field col s12">
          <i class="material-icons prefix">today</i>
          <input id="update_date" type="text" class="datepicker">
          <label>Status</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">access_time</i>
          <select multiple ng-model="rt.update.status">
            <option value = "" disabled selected>Select Time Slots</option>
            <option value="0800-0830">8am to 8.30am</option>
            <option value="0830-0900">8.30am to 9am</option>
            <option value="0900-0930">9am to 9.30am</option>
            <option value="0930-1000">9.30am to 10am</option>
            <option value="1000-1030">10am to 10.30am</option>
            <option value="1030-1100">10.30am to 11am</option>
            <option value="1100-1130">11am to 11.30am</option>
          </select>
          <label>Time Slots</label>
        </div>
        

      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="rt.updateAttendance()">Submit</button>
      </div>
    </div>
    <!-- End of Update Modal -->

    <!-- LOADING -->
    <div ng-if="rt.loading" class="col s12">
      <div class="col s6"></div>
        <div class="preloader-wrapper big active" style="text-align: center">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF LOADING -->
  </div>
</div>  


 






  

  

